/**
 * 
 */
package ${package_mobile};

import java.util.Map;

import javax.servlet.http.HttpServletRequest;

import org.springframework.web.servlet.support.RequestContext;

import ${package_request}.__Request;
import ${package_util}.EmptyUtil;

/**
 * @author Colin
 */
public class __PhoneRequest extends __Request {

	/**
	 * 
	 */
	public __PhoneRequest() {
	}

	/**
	 * 非空检测
	 * @param map 验证失败返回内容 {"sign":2,"message":"参数有空值!"}
	 * @param param 任意参数
	 * @return true:所有参数均有值 false:部分或全部参数为空
	 */
	protected boolean notEmpty(HttpServletRequest request, Map<String, Object> map, Object... param) {

		boolean b = true; /// 默认所有参数非空 ///

		for (Object p : param) {

			if (p == null)
				b = false;

			if (b) {
				if (p instanceof String)
					b = EmptyUtil.notEmpty(p.toString());
			}

			if (b == false) { /// 如果上一步检测到空参数,则直接break ///

				map.put(JSON_KEY, 2);
				map.put(JSON_MSG, "parameter_include_null");
				break;
			}
		}

		return b;
	}

}
