/**
 * 
 */
package ${package_mobile};

import java.util.Map;

import javax.servlet.http.HttpServletRequest;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

import ${package_c}.IAPP;
import ${package_util}.DTUtil;
import ${package_util}.MapUtil;

/**
 * @author Colin
 */
@Controller
@RequestMapping(value = { "phone/${url}" })
public class ${bean}PhoneRequest extends __PhoneRequest implements IAPP {

	/**
	 * 
	 */
	public ${bean}PhoneRequest() {
	}

	@ResponseBody
	@RequestMapping(value = { "data" })
	public Map<String, Object> data(HttpServletRequest request) throws Exception {
		Map<String, Object> map = MapUtil.mapThem(new String[] { "datetime" }, DTUtil.nowDT());
		return map;
	}

}
