/**
 * 
 */
package ${package_util};

import ${package_ref}.RandomString;

/**
 * @author Colin
 */
public class StringUtil {

	/**
	 * 
	 */
	private StringUtil() {
	}

	public static final synchronized String getUniqueID() {
		long lTimeMillis = System.currentTimeMillis();
		return String.format("%#017x-%s", lTimeMillis, new RandomString(32));
	}

}
